.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 2px solid lightgray;
  margin-bottom: 20px;
}

.box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

